.f7e-card.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    width: 100vw;
    height: 100vh !important;
}

.f7e-viewer.fullscreen {
    height: 100vh !important;
}

.not_found_modal_container {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 300;
    background-color: #fff;
    display: flex;
    align-items: center;
    gap: 2rem;
}